/* #animate:hover {
    transform: scale(1.5);
} */

.animate {
    transition: all .1s ease-in-out;
    /* transition: all .1s ease; */
}

.animate:hover {
    transform: scale(1.05);
    /* border */
}

.zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    transform: scale(1.3);
  }